# IDEs
/.idea
/.project
/nbproject
/.buildpath
/.settings
*.sublime-*
*.AppleDouble
*.AppleDB
*.AppleDesktop
Temporary Items
.apdisk
GPATH
GRTAGS
GTAGS

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# OS
.DS_Store

# Project
node_modules
out
public
.vscode
.svelte-kit
